.friends-body {
  min-height: 1000vh;
}

.top-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 5px 0px;
}

.top-header .header,
.top-header .status-bar {
  padding-right: 40px;
}

.friends {
  padding: 10px 0px;
  padding-top: 110px;
}

.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}
