@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Quicksand:600&display=swap");

.profile-body {
  background: linear-gradient(rgba(241, 242, 246, 0.3), rgb(241, 242, 246, 0.3)),
    url("../images/background.jpg");
  background-size: cover;
}

.profile {
  padding: 10px 0px;
  padding-top: 110px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .profile__img {
  width: 80px;
  height: 80px;
  background-image: url("../images/profile.jpg");
  background-size: cover;
  border-radius: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.profile .profile__name {
  width: 100px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #6190e8;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: "Oleo Script", cursive;
}

.profile .profile__location {
  opacity: 0.9;
  margin-bottom: 35px;
}

.profile .profile__btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}

.profile .profile__btn {
  width: 180px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  padding: 10px 0px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.profile .profile__btn:hover {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: thistle;
}

.profile .profile__btn:first-child {
  background-color: #654ea3;
  color: white;
}

.profile .profile__btn:last-child {
  background-color: #eaafc8;
  color: white;
}

.profile-body .nav {
  opacity: 0.7;
}
